<!DOCTYPE html>
<html>
  <head>
    <title>Helpapp</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.ramen = "<%= image_url('ramen.jpg') %>"
      window.logo = "<%= image_url('logo.png') %>"
      window.loginimg = "<%= image_url('loginimg.png') %>"
      window.busi = "<%= image_url('busi.png') %>"
      window.japan = "<%= image_url('japan.jpg') %>"
      window.american = "<%= image_url('american.jpg') %>"
      window.bar = "<%= image_url('bar.jpg') %>"
    </script>





  </head>

  <body>
    <%= yield %>
  </body>
</html>

